node_modules
npm-debug.log*

.git
.gitignore

.next
out
build

.env.local
.env.development
.env.development.local
.env.test
.env.test.local

.DS_Store
*.log
.vscode
.idea
Thumbs.db

Dockerfile*
docker-compose*
.dockerignore

README.md
.github